body{
    background-color: darkred;
    color:white;
}
.color{
    border: 6px solid black;
    height: 50px;
}
.red{
    background-color: red;
}
#blue{
    background-color: blue;
   
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#black{
    background-color: black;
}
#blueviolet{
    background-color: blueviolet;
}

#canvas{
    height: 600px;
    border : 10px solid wheat;
    background-color: white;
    
}