body{
    background-color: darkred;
    color:white;
}
.color{
    border: 6px solid black;
    height: 50px;
}
.red{
    background-color: red;
}
#blue{
    background-color: blue;
   
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#black{
    background-color: black;
}
#blueviolet{
    background-color: blueviolet;
}

#canvas{
    height: 600px;
    border : 10px solid wheat;
    background-color: white;
    color:white;
    position: relative;
    
}

.miniBrush{
   
    height: 5px;
    width: 5px;
    position: absolute;
    display: inline-block;
     border-radius: 50%;
}
.smallBrush{
    height: 15px;
    width: 15px;
    position: absolute;
    display: inline-block;
     border-radius: 50%;
}
.mediumBrush{
    height: 25px;
    width: 25px;
    position: absolute;
    display: inline-block;
     border-radius: 50%;
}
.giantBrush{
    height: 50px;
    width: 50px;
    position: absolute;
    display: inline-block;
     border-radius: 50%;
}
.erase{
    height: 50px;
    width: 50px;
    position: absolute;
    display: inline-block;
     border-radius: 50%;
     background-color: white;
}
